@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900|Titillium+Web:400,300,200,600);

$f1: 'Titillium Web', sans-serif;
$f2: 'Lato', sans-serif;

$gray: rgb(51,51,51);
$green: rgb(190,210,47);
$lightGray: rgb(67,67,67);
$lighterGray: rgb(239,239,239);
$darkGreen: rgb(185,206,43);
$darkerGreen: rgb(157,184,20);
$greenAlpha: rgba(190,210,47, .95);

$fast: .25s;
$slow: .8s;
