@import "config";
@import "mixins";

/* Tags */

* {
	margin: 0;
	padding: 0;
}
html, body { height: 100% }
html { font-size: 16px }
body {
	background: #434343;
	font: 62.5% sans-serif;
	min-width: 98em;
}
hr, legend { display: none }
fieldset { border: 0 none }
li { list-style: none }
a {
	outline: none;
	text-decoration: none;
}

/* Layout */

.wrap {
	background: #fff;
	min-height: 100%;
	overflow: hidden;
}
.head {
	margin: 0 auto;
	padding: 2.9em 0 2.3em;
	position: relative;
	width: 96em;
	z-index: 10;
	@include clearfix;
}
.body {
	clear: both;
	margin: 0 auto;
	padding-bottom: 5.4em;
	width: 96em;
	@include clearfix;
}
.torso {
	clear: both;
	padding-bottom: 5.4em;
	@include clearfix;
}
.foot {
	background: #434343;
	margin-top: -5.4em;
	min-height: 5.4em;
	position: relative;
}

/* Header */

.logo {
	float: left;
	font-size: 1em;
	padding-left: 5.5em;
}
.logo-img {
	display: block;
	height: 9.4em;
	width: 16em;
}

.nav {
	float: right;
	padding: 6.6em 1em 0 0;
}
.menu-item {
	float: left;
	font: 200 2.2em $f1;
	margin-left: 1em;
	position: relative;
	text-transform: uppercase;
	&:before {
		color: $green;
		content: '.';
		font-weight: 600;
		position: relative;
		left: -.5em;
	}
	&:first-child:before {
		content: '';
		display: none;
	}
	a {
		color: lighten($gray, 60%);
		@include transition(color,$fast);
		&:hover,
		&:focus { color: $green }
		&:active {
			position: relative;
			top: 1px;
		}
		.home & {
			color: $gray;
			&:hover,
			&:focus { color: $green }
		}
	}
}
.current-menu-item > a,
.current-menu-ancestor > a,
.single-projeto .menu-item-projeto a,
.single-publicacao .menu-item-publicacao a,
.single-consultoria .menu-item-consultoria a,
.post-type-archive-projeto .menu-item-projeto a {
	border-bottom: 2px solid $green;
	color: $gray;
}
.item-contact {
	font-size: 1.5em;
	position: absolute;
	right: 8.35em;
	text-transform: none;
	top: 4.7em;
	&:before { display: none }
}
.sub-menu {
	background: #fff;
	background: rgba(255,255,255, .9);
	display: none;
	font-size: .45em;
	left: -.5em;
	padding: 1.6em 0 .6em;
	position: absolute;
	top: 100%;
}
.menu-item:hover .sub-menu { display: block }
.sub-menu .menu-item {
	float: none;
	font: 400 1.3em $f1;
	margin: 0;
	&:before { display: none }
}
.sub-menu a {
	border: 0 none !important;
	color: $gray;
	display: block;
	padding: 0 1.2em .3em;
	white-space: nowrap;
}
.lang-menu {
	display: none;
}

/* Fixed Nav */

.fixed-nav {
	background: #fff;
	left: 0;
	position: fixed;
	top: -9em;
	width: 100%;
	z-index: 99;
	@include transition(top,$fast);
	.show-menu & { top: 0 }
	.admin-bar.show-menu & { top: 28px }
}
.fixed-menu {
	background: url(../img/symbol.svg) no-repeat 4em center;
	background-size: 10.8em 4.3em;
	background-color: #fff;
	height: 5.7em;
	margin: 0 auto;
	padding: 2.8em 0 0 15em;
	width: 81em;
	.menu-item {
		font-size: 1.9em;
		// &:before { display: none }
	}
	.item-contact {
		float: right;
		font-size: 1.3em;
		padding: .4em 10em 0 0;
		position: static;
		right: auto;
		top: auto;
	}
	.sub-menu {
		font-size: .33em;
		left: -1.3em;
	}
}

/* Footer */

.menu-foot {
	background: url(../img/mini-logo.svg) no-repeat 5em center;
	background-size: 5em 2em;
	margin: 0 auto;
	overflow: hidden;
	padding-left: 13.6em;
	position: relative;
	top: .4em;
	width: 82.4em;
	.menu-item {
		float: left;
		font: 200 1.1em $f1;
		margin: 0 2em 0 0;
		&:before { display: none }
		a {
			border: 0 none !important;
			color: #fff;
			display: block;
			line-height: 4em;
			text-transform: uppercase;
			&:hover,
			&:focus,
			&:active { color: $green }
		}
	}
}
.copyright {
	color: #fff;
	font: 200 1.1em $f1;
	left: 47%;
	line-height: 4em;
	position: absolute;
	top: .4em;
}
.social-menu {
	margin-right: -46.9em;
	position: absolute;
	right: 50%;
	top: 1.6em;
	&:hover .social-item {
		opacity: .3;
		&:hover { opacity: 1 }
	}
}
.social-item {
	float: right;
	padding: .3em;
	img { display: block }
	@include transition(opacity,$fast);
}

/* Home */

$m_height: 28em;
.mosaic {
	padding-bottom: 4em;
	overflow: hidden;
	text-align: center;
	@include clearfix;
}

.mosaic-wide {
	border: 2px solid #fff;
	float: left;
	position: relative;
	width: 100%;
	@include box-sizing;
	.mosaic-image {
		border-right: 0 none;
		float: left;
		width: 64em;
	}
	.mosaic-nav {
		@include linear-gradient(lr, (#222 $gray), (0% 15%));
		border-left: 0 none;
		float: right;
		padding-left: 1%;
		width: 21%;
	}
	.mosaic-cover {
		border-left: 4px solid #fff;
		right: 0;
		width: 32em;
	}
	&:hover .mosaic-cover,
	&.hover .mosaic-cover,
	&:active .mosaic-cover { right: 21% }
}
.mosaic-narrow {
	border: 2px solid #fff;
	float: left;
	position: relative;
	width: 64em;
	@include box-sizing;
	.mosaic-image {
		border-left: 0 none;
		float: right;
		width: 50%;
	}
	.mosaic-nav {
		@include linear-gradient(lr, ($gray #222), (85% 100%));
		border-right: 0 none;
		padding-right: 1%;
		width: 32%;
	}
	.mosaic-cover {
		border-right: 4px solid #fff;
		left: 0;
		width: 50.4%;
	}
	&:hover .mosaic-cover,
	&.hover .mosaic-cover,
	&:active .mosaic-cover { left: 32% }
}
.mosaic-box {
	border: 2px solid #fff;
	float: left;
	width: 32em;
	@include box-sizing;
}

.mosaic-image {
	background-color: #f0f0f0;
	background-position: center;
	background-size: cover;
	display: block;
	height: $m_height;
}
.mosaic-nav {
	background: $gray;
	display: table;
	float: left;
	height: $m_height;
}
.mosaic-menu {
	display: table-cell;
	vertical-align: middle;
}
.mosaic-item {
	border-top: 1px solid #fff;
	display: block;
	font: 300 2em/1.2 $f1;
	margin: 0 12%;
	text-transform: uppercase;
	&:first-child { border: 0 none }
	a {
		color: #fff;
		display: block;
		padding: .2em 0;
		@include transition(color,$fast);
		&:hover,
		&:focus,
		&:active { color: $green }
	}
}

.mosaic-cover {
	background: $green;
	height: $m_height;
	position: absolute;
	top: 0;
	@include box-sizing;
	@include transition(all,$fast);
}
.table {
	display: table;
	height: 100%;
	width: 100%;
}
.cell {
	display: table-cell;
	vertical-align: middle;
}

.mosaic-title {
	color: $gray;
	font: 300 3.7em $f1;
	padding-bottom: .2em;
	text-transform: uppercase;
}
.mosaic-excerpt {
	border-top: 1px solid $gray;
	color: $gray;
	display: block;
	font: 200 1.5em/1.35em $f1;
	margin: 0 auto;
	padding: 1.3em 0 0;
	width: 13.5em;
}

/* Archive */

.matrix {
	margin: 0 auto;
	padding-bottom: 4em;
	width: 96em;
	@include clearfix;
	@include transition(all,$slow);
}
@for $i from 0 through 30 {
	.matrix.pos-#{$i} { margin-left: (-777px * $i) }
}
.matrix-item,
.matrix-item-wide {
	background-position: center;
	background-size: cover;
	border: 2px solid #fff;
	float: left;
	width: 32em;
	@include box-sizing;
	&:hover .matrix-cover { opacity: 1 }
}
.matrix-item-wide { width: 64em }
.matrix-cover {
	background: $green;
	background: $greenAlpha;
	display: table;
	height: $m_height;
	opacity: 0;
	width: 100%;
	@include transition(opacity,$fast);
}
.matrix-category,
.matrix-title {
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	width: 80%;
}
.matrix-category {
	color: $gray;
	font: 400 1.4em $f1;
	padding-bottom: .8em;
}
.matrix-title {
	border-top: 1px solid $gray;
	color: $gray;
	font: 400 3.7em/1.2 $f1;
	padding-top: .3em;
}

/* Pages */

.header {
	background: $lighterGray;
	padding: 3em 0 0;
}
.header .wrap {
	border-top: 2px solid $green;
	margin: 0 auto;
	padding: 4.5em 7em 4.2em;
	width: 82em;
}
.heading {
	float: left;
	padding-left: 3%;
	width: 34%;
}
.page-summary {
	float: right;
	font: 200 2.5em/1.2 $f1;
	padding-right: 3%;
	width: 57%;
}
.page-category {
	color: $green;
	font: 400 1.8em/1.4 $f1;
	text-transform: uppercase;
}
.page-title {
	font: 400 4.2em/1.2 $f1;
	text-transform: uppercase;
}

.content .wrap {
	border-top: 2px solid $lightGray;
	margin: -2px auto 0;
	padding: 4.5em 3em;
	width: 78em;
	.post & { border-color: #fff }
}
.page-thumbnail a {
	display: block;
	position: relative;
	&:before {
		background: url(../img/magnifier.svg) no-repeat;
		background-size: 5.2em;
		content: '';
		display: block;
		height: 5.2em;
		left: 50%;
		margin: -2.6em 0 0 -2.6em;
		opacity: 0;
		position: absolute;
		top: 50%;
		width: 5.2em;
		@include transition(opacity,$fast);
	}
	&:hover:before,
	&:focus:before,
	&:active:before { opacity: 1 }
}
.page-thumbnail img { display: block }
.page-wrap {
	overflow: hidden;
	position: relative;
}
.page-content {
	color: $lightGray;
	float: left;
	min-height: 20em;
	padding: 2em 2%;
	width: 57%;
	p, ul, ol {
		font: 300 1.6em/1.4 $f2;
		margin-bottom: 1.4em;
		strong { font-weight: 400 }
	}
	li {
		margin-left: 1.5em;
		position: relative;
		&:before {
			color: $green;
			content: '• ';
			left: -1.5em;
			position: absolute;
			top: 0;
		}
	}
	/*li {
		list-style-position: inside;
		margin-left: 1em;
	}
	ul li { list-style: square }
	ol li { list-style: decimal }*/

	h3, h4, h5, h6 {
		font: 400 1.8em/1.245 $f1;
		margin: 2.49em 0 1.245em;
		text-transform: uppercase;
		&:first-child { margin-top: 0 }
	}
}
.page-sidebar {
	float: right;
	min-height: 20em;
	padding: 2em 0;
	width: 39%;
}
.figure img {
	display: block;
	height: auto;
	margin-bottom: .5em;
	width: 100%;
}
.figure .caption {
	font: 300 1.4em $f2;
	text-align: right;
	padding: 0 1%;
}

/* Posts */

.post-category {
	color: $lightGray;
	font: 400 1.2em/1.2 $f1;
	letter-spacing: .3em;
	padding-left: .3em;
	text-transform: uppercase;
	width: 85%;
}
.post-title {
	color: $lightGray;
	font: 200 3.5em/1.4 $f1;
	text-transform: uppercase;
	width: 85%;
}
.post-tags {
	width: 85%;
	&:before {
		color: $green;
		content: '. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ';
		display: block;
		font: normal 1.5em sans-serif;
		left: -.3em;
		overflow: hidden;
		position: relative;
		top: -.6em;
		white-space: nowrap;
	}
}
.dt {
	clear: left;
	color: $lightGray;
	float: left;
	font: 900 .8em $f2;
	margin-right: .5em;
	padding-top: .5em;
	text-transform: uppercase;
}
.dd {
	color: $lightGray;
	float: left;
	font: 300 1.2em $f2;
	text-transform: uppercase;
}
.post-summary {
	color: $gray;
	font: 300 1.6em/1.4 $f2;
	margin-left: 37%;
}

.post-gallery,
.sidebar-gallery { position: relative }
.gallery-wrap {
	height: 54.4em;
	margin: 0 auto;
	overflow: hidden;
	width: 70.6em;
	img {
		float: left;
		height: auto;
		width: 70.6em;
	}
}

.prev,
.next {
	border: 0 none;
	cursor: pointer;
	display: block;
	height: 100%;
	opacity: .4;
	position: absolute;
	top: 0;
	width: 5em;
	@include transition(opacity,$fast);
	&:hover,
	&:focus,
	&:active { opacity: 1 }
}
.prev {
	background: url(../img/left-gray.svg) no-repeat center;
	background-size: 2.1em 3.8em;
	left: -3em;
}
.next {
	background: url(../img/right-gray.svg) no-repeat center;
	background-size: 2.1em 3.8em;
	right: -3em;
}

.gallery-view { @include transition(all,$slow) }
@for $i from 0 through 30 {
	.gallery-view.pos-#{$i} { margin-left: (-706px * $i) }
}

.sidebar-wrap {
	height: 6.8em;
	margin: 0 auto;
	overflow: hidden;
	width: 22em;
	img {
		float: left;
		height: auto;
		margin-left: .8em;
		width: 6.8em;
		@include transition(opacity,$fast);
	}
	a:first-child img { margin-left: 0 }
}
.sidebar-gallery {
	.prev {
		background-size: 1.1em 2.8em;
		left: -1em;
	}
	.next {
		background-size: 1.1em 2.8em;
		right: -1em;
	}
}
.sidebar-view { @include transition(all,$slow) }
@for $i from 0 through 30 {
	.sidebar-view.pos-#{$i} { margin-left: (-228px * $i) }
}
.sidebar-view:hover img { opacity: .4 }
.sidebar-view:hover img:hover { opacity: 1 }

.post-nav {
	clear: both;
	font: 300 1.5em/2.25 $f2;
	margin: 0 auto;
	padding: 4em 0;
	text-transform: uppercase;
	width: 47.07em;
	@include clearfix;
}
.nav-item { display: inline }
.nav-home {
	background: url(../img/grid.svg) no-repeat left center;
	background-size: 2.4em 2.667em;
	color: $gray;
	float: left;
	padding-left: 3em;
	@include transition(color,$fast);
	&:hover,
	&:focus,
	&:active { color: $green }
}
.nav-prev,
.nav-next {
	border: 0 none;
	color: $gray;
	float: right;
	padding: 0 2em;
	@include transition(color,$fast);
	&:hover,
	&:focus,
	&:active { color: $green }
}
.nav-prev {
	background: url(../img/left-green.svg) no-repeat left center;
	background-size: 1.13em 1.87em;
}
.nav-next {
	background: url(../img/right-green.svg) no-repeat right center;
	background-size: 1.13em 1.87em;
}

.more-posts { clear: both }
.title {
	border-bottom: 1px solid $green;
	color: $gray;
	font: 300 1.5em $f2;
	margin-bottom: 1em;
	padding: 0 2px 1em;
	text-transform: uppercase;
}
.more-wrap {
	font-size: .811em;
	position: relative;
	@include clearfix;
	.prev { margin-left: -1.3em }
	.next { margin-right: -1.3em }
}
.more-view {
	height: $m_height;
	overflow: hidden;
	width: 96em;
}

/* About / Contact */

#about,
#contact {
	color: $gray;
	min-height: 80em;
	overflow: hidden;
	position: relative;
	@include transition(height, $slow);
	p {
		font: 300 1.8em/1.5 $f2;
		margin: 1.5em 0;
		strong { font-weight: 700 }
	}
	h1, h2{
		font: 200 3.4em/1 $f1;
		margin: .8em 0;
		&:first-child { margin-top: auto }
	}
	h3, h4, h5, h6, figcaption {
		display: block;
		font: 200 2.8em/1 $f1;
		margin: .96em 0;
	}
}
$padTop: 6em;
#about {
	@include linear-gradient(lr, ($green, $green, $darkGreen, $darkGreen), (0%, 58.5%, 58.5%, 100%));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 104em 100%;

	.column-1 {
		margin: 0 auto;
		padding: $padTop 38em $padTop 0;
		width: 50em;
	}
	.column-2 {
		left: 50%;
		margin-left: 12em;
		position: absolute;
		top: $padTop;
		width: 32em;
		p { font-size: 1.6em }
		figcaption { font-size: 2.6em }
	}
}
#contact {
	@include linear-gradient(lr, ($green, $darkGreen, $darkGreen, $green, $green), (0%, 0%, 50%, 50%, 100%));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 96em 100%;

	.column-1 {
		left: 50%;
		margin-left: -44em;
		position: absolute;
		top: $padTop;
		width: 39.7em;
	}
	.column-2 {
		left: 50%;
		margin-left: 6em;
		position: absolute;
		top: $padTop;
		width: 32.6em;
	}
}

.marilia img {
	display: block;
	height: auto;
	margin-bottom: 3em;
	width: 100%;
}

.big-title { font: 200 3.5em/1.2 $f1 }
.default-title { font: 200 2.8em $f1 }
.big-button {
	border: 2px solid $gray;
	color: $gray;
	display: inline-block;
	font: 300 1.77em $f1;
	padding: .1em .6em;
	text-transform: uppercase;
	@include transition(all,$fast);
	&:hover,
	&:focus,
	&:active {
		background: $gray;
		color: $green;
	}
}
.small-button {
	background: $darkerGreen;
	color: $gray;
	display: inline-block;
	font: 400 .8em $f1;
	padding: .15em .65em;
	text-transform: uppercase;
	@include transition(all,$fast);
	&:hover,
	&:focus,
	&:active {
		background: $gray;
		color: $green;
	}
}
.contact-me {
	margin-top: 4.5em;
	width: 27em;
}
.my-item {
	background: $darkGreen;
	color: $gray;
	display: block;
	font: 400 1.4em/2 $f1;
	margin: 0 0 .9em 2.4em;
	position: relative;
	text-indent: .8em;
	a {
		color: $gray;
		display: block;
		@include transition(all,$fast);
		&:hover,
		&:focus,
		&:active {
			background: $gray;
			color: $green;
		}
	}
	&:before {
		background-color: $darkGreen;
		background-image: url(../img/icons.png);
		background-repeat: no-repeat;
		background-size: 2.14em 6.43em;
		content: ' ';
		display: block;
		height: 100%;
		left: -2.3em;
		position: absolute;
		top: 0;
		width: 2em;
	}
}
.my-phone:before { background-position: 0 -2.14em }
.my-skype:before { background-position: 0 -4.29em }

.text,
.area {
	background: none;
	border: 1px solid $gray;
	color: $gray;
	display: block;
	font: 300 2.8em $f1;
	margin: 0 0 .7em;
	outline: none;
	padding: 0 .5em;
	width: 14.2em;
	@include box-sizing;
	@include placeholder($gray);
	@include transition(all,$fast);
	&:focus { @include placeholder(transparent) }
}
.button {
	background: none;
	border: 1px solid $gray;
	color: $gray;
	cursor: pointer;
	display: inline-block;
	font: 300 2.4em $f1;
	outline: none;
	padding: 0 .5em;
	text-transform: uppercase;
	width: auto;
	@include transition(all,$fast);
	&:hover,
	&:focus,
	&:active {
		background: $gray;
		color: $green;
	}
}
.submit { text-align: right }
.ajax-loader {
	display: none !important;
	float: left;
}

.wpcf7-not-valid-tip { display: none }
.wpcf7-not-valid {
	border-width: 3px;
	margin-bottom: .6em;
}
.wpcf7-response-output {
	font: 400 1.4em/1.5 $f1;
	margin-top: -2.9em;
	width: 60%;
}

@import "fancybox";
